.s-section {

  margin-block: 102px;
  margin-inline: 120px;

}


.s-section__dark {

  width: 100%;
  height: auto;
  color: var(--color-text-light);
  background-color: var(--color-background-dark);

}