.mateStar::before{
  content: "";
  display: block;
  height: clamp(64px, 10vw, 117px);

  background-image: url("../img/MateSymbolHorIta.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  transform: translateY(-50%);

  pointer-events: none;
}

.c-footer{
  margin-inline: 18px;
}

.c-footer__links{
  display: grid;
}

.c-footer__grid{
  display: grid;
  row-gap: 24px;
  column-gap: 24px;
  justify-items: center;
}


.c-footer__info{
  max-width: 214px;
  min-width: 124px;
  font-family: Montserrat;
  text-align: center;
  font-size: 0.8rem;
  list-style: none;
  padding: 0;
  line-height: 1.6rem;
}

.c-footer__info h2{
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--color-grey-400);
}

.c-footer__info a{
  text-decoration: none;
  font-weight: normal;
  color: var(--color-white);
}

.c-footer__logo{
  display: grid;
  justify-content: center;
}

.c-footer__logo img{
  width: 158px;
  height: auto;
}

.c-footer__copyright{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}

@media all and (min-width:500px){
  .c-footer{
    margin-inline: 30px;
  }
  .c-footer__info{
    font-size: 1.1rem;
    line-height: 2.2rem;
  }
  .c-footer__info h2{
    font-size: 1.1rem;
  }
}
@media all and (min-width:750px){
  .c-footer__grid{
    row-gap: 24px;
    column-gap: 24px;
    justify-items: center;
  }
}

@media all and (min-width: 1024px){
  .c-footer{
    margin-inline: clamp(120px, 17%, 310px);
  }
  .c-footer__info{
    text-align: left;
  }
  .c-footer__logo{
    justify-content: flex-end;
    align-content: end;
  }
  .c-footer__grid{
    justify-items: left;
    row-gap: 129px;
    column-gap: inherit;
  }
  .c-footer__copyright{
    padding-top: 120px;
    font-size: 1.1rem;
  }
}