---
permalink: /about.html
---

{% extends "layouts/base.njk" %}

{% block content %}

    <h1>About</h1>

    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>
    <div class="s-section">Section 1</div>

{% endblock %}
