---
permalink: /index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

    <div class="s-section">Section 1</div>
    <div class="s-section s-section__dark">Section 2, dark</div>

{% endblock %}