---
permalink: /shop.html
---

{% set sizes = ["XS", "S", "M", "L", "XL", "XXL"] %}
{% set colls = ["Asmterdam '99", "Knokke '89", "Ardennes '20"] %}
{% set types = [{ name : 'T-shirt', quantity : 12}, { name : 'Hoodie', quantity : 12}, { name : 'Short', quantity : 12}, { name : 'Beanie', quantity : 12}, { name : 'Cap', quantity : 12}, { name : 'Throusers', quantity : 12}, { name : 'Patchs', quantity : 12}] %}

{% extends "layouts/base.njk" %}

{% block content %}



    <div class="s-section">

        {% include "partials/filters.njk" %}

    </div>

    <div class="s-section">

        <div class="products">

            <ul class="products__list">
                <li class></li>
            </ul>

        </div>

    </div>

{% endblock %}
