/* ==============================
=FILTERS
=============================== */

.filters {

    margin-inline: 158px;
    padding-inline: 192px;
    padding-block: 24px;

    border:1px solid var(--color-grey-100);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 90px;

    position: relative;

}

.filters__button {

	display: inline-block;

    position: absolute;
    bottom: 0;
    right: 66px;
    transform: translateY(50%);

	color: var(--color-text-light);
	font-size: 16px;
    font-weight: 600;

	background-color: var(--color-background-dark);
	border-radius: 42px;
    border: 0px solid #000000;


	padding:8px 48px;

	text-decoration: none;
    cursor: pointer;

}

.filter__title {

    font-weight: 700;
    font-size: calc(18 / 16 * 1rem);

}

.filter {

    text-align: end;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    gap: 12px;

    padding-block: 24px;

}

.filter__sizes {

    grid-area: 1 1 2 2;

}
.filter__price {

    grid-area: 2 2 3 3;

}
.filter__collection {

    grid-area: 2 2 3 3;

}

/* ==============================
=TEXT
=============================== */

.text__input {

    width: calc(66 / 16 * 1rem);
    height: calc(24 / 16 * 1rem);
    
    padding-inline: 9px;

    border: 1px solid var(--color-grey-100);
    border-radius: 6px;

    font-size: calc(14 / 16 * 1rem);

    box-sizing: border-box;

}

/* ==============================
=CHECKBOX
=============================== */

.checkbox__list {

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: calc(24 / 16 * 1rem);

}

.checkbox__label {

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: calc(6 / 16 * 1rem);

    font-size: calc(16 / 16 * 1rem);

}

.checkbox__custom {

    display: block;
    width: calc(24 / 16 * 1rem);
    height: calc(24 / 16 * 1rem);

    background-color: var(--color-white);

    border:1px solid var(--color-grey-100);
    border-radius: 6px;

    position: relative;

}

.checkbox__custom:hover {

    background-color: var(--color-grey-500);

}

.checkbox__label input:checked ~ .checkbox__custom::before {

    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../img/icon_cross.svg");
    filter: invert(100%);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center center;

    pointer-events: none;

}


.checkbox__box {

    display: none;

}

/* ==============================
=NUMBER
=============================== */

.number__list {
    
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.number__currency {

    padding-inline-start: 3px;

}

.number__to {

    font-size: calc(16 / 16 * 1rem);
    font-weight: 600;

}

/* Chrome, Safari, Edge, Opera */
.number__input::-webkit-outer-spin-button,
.number__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number__input {
  -moz-appearance: textfield;
  text-align: center;
}

/* ==============================
=DROPDOWN
=============================== */

.dropdown__content {

    position: relative;
    width: 100%;

}

.dropdown__list {
    
    position: absolute;
    z-index: 2;

    transform: translateY(-1px);

    width: 100%;
    max-height: 128px;

    overflow-y: scroll;

    display: none;
 
    flex-direction: column;
    justify-content: start;
    align-items: start;

    border: 1px solid var(--color-grey-100);
    border-radius: 6px;

    background-color: var(--color-white);

}

.dropdown__list::-webkit-scrollbar {
    display: none;
}

.dropdown__input {

    width: 100%;

}

.dropdown__input:focus ~ .dropdown__list {

    display: flex;
 }

 .dropdown__input:focus {

    outline: none;

 }


.dropdown__item {

    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: relative;

    padding-block: 9px;
    padding-inline: 12px;

}

.dropdown__item:hover {

    background-color: var(--color-green-300);
    color: var(--color-white);

}

.dropdown__item::after {

    content: "";
    width: 98%;
    height: 1px;

    background-color: var(--color-background-dark);
    position: absolute;
    bottom: 0;
    left: 1px;

}

.dropdown__item:last-child:after {

    height: 0px;

}

.dropdown__name {

    font-size: 16px;

}

.dropdown__quantity {

    font-size: 12px;

}