input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.searchbar {

    width: 100%;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    

}

@media all and (min-width:750px){

    .searchbar {

        width: 263px;

    }
  
}

@media all and (min-width: 1024px){
  
    .searchbar {
  
        width: 381px;
    
    }
  
}

.searchbar__input {

    width: 100%;

    padding: 12px 18px;
    border: 1px solid var(--color-grey-100);
    font-size: calc(12 / 16 * 1rem);

    background-color: var(--color-white);
}

@media all and (min-width:750px){

    .searchbar__input {

        font-size: calc(16 / 16 * 1rem);

    }
  
}

.searchbar__reset {

    visibility: hidden;

    position: absolute;
    right: 12px;


}

.searchbar__reset::after {

    content: "";
    display: block;

    width: 14px;
    height: 14px;

    visibility: visible;

    background-image: url("../img/icon_cross.svg");
    filter: invert(100%);
    background-repeat: no-repeat;
    background-position: center center;


} 