<form method="get" class="filters__form">

    <div class="button__filters">
        <img src="assets/img/icon_filter.svg" alt="">
    </div>

    {% include "partials/searchBar.njk" %}

    <div class="filters">

        <div class="filters__nav">
            <ul class="filters__nav__list">
                <li class="filters__nav__item filters__nav__close"><img src="assets/img/icon_cross_black.svg" alt=""></li>
                <li class="filters__nav__item filters__nav__title">Filter</li>
                <li class="filters__nav__item">restet</li>
            </ul>
        </div>

        <div class="filter__sizes filter__checkbox filter">

            <input class="filter__input" type="checkbox" id="size__checkbox">
            <label class="filter__label" for="size__checkbox">
                <p class="filter__title">sizes</p>
            </label>

            <div class="filter__content">
                {% for size in sizes %}
                    
                    {% if loop.first %}

                        <ul class="checkbox__list">
                        
                    {% endif %}

                        <li class="checkbox__item">
                            <label class="checkbox__label">
                                <input class="checkbox__box" type="checkbox" value="{{size}}" name="size">
                                <span class="checkbox__custom"></span>
                                {{size}}
                            </label>
                        </li>

                    {% if loop.last %}

                        </ul>
                        
                    {% endif %}

                {% endfor %}
            </div>

            

        </div>

        <div class="filter__collection filter__dropdown filter">

            <input class="filter__input" type="checkbox" id="collection">
            <label class="filter__label" for="collection">
                <p class="filter__title">collection</p>
            </label>

            <div class="filter__content">

                <div class="dropdown__content dropdown__collection">

                    <ul class="selected__list selected__type">
                    </ul>

                    <input class="dropdown__input text__input" type="checkbox" id="collection__checkbox">
                    <label class="dropdown__label text__input" for="collection__checkbox"></label>

                        {% for coll in colls %}
                                
                            {% if loop.first %}

                                <ul class="dropdown__list">
                                
                            {% endif %}
                                
                                    <li class="dropdown__item" data-value={{coll}} data-parent="type">
                                        <label class="dropdownItem__label">
                                            <input class="dropdownItem__checkbox" type="checkbox" name="collection" value="{{coll}}">
                                            <span class="dropdownItem__content">
                                                <p class="dropdownItem__name">{{coll}}</p>
                                                <p class="dropdownItem__quantity">12</p>
                                            </span>
                                        </label>
                                    </li>
                                
                            {% if loop.last %}

                                </ul>
                                
                            {% endif %}

                        {% endfor %}

                </div>
            </div>

        </div>

        <div class="filter__type filter__dropdown filter">

            <input class="filter__input" type="checkbox" id="type">
            <label class="filter__label" for="type">
                <p class="filter__title">type</p>
            </label>

            <div class="filter__content">

                <div class="dropdown__content">

                    <!--
                    <ul class="selected__list selected__type">
                        <li class="selected__item">
                            <span>
                                <label class="test" for="T-shirt">
                                    <span class="selected__content">
                                        <p class="selected__text">T-shirt</p>
                                        <img class="selected__img" src="assets/img/icon_cross_green.svg" alt="">
                                    </span>
                                </label>
                            </span>
                        </li>
                    </ul>
                    -->

                    <input class="dropdown__input text__input" type="checkbox" id="type__checkbox">
                    <label class="dropdown__label text__input" for="type__checkbox"></label>

                        {% for type in types %}
                                
                            {% if loop.first %}

                                <ul class="dropdown__list">
                                
                            {% endif %}
                                
                                    <li class="dropdown__item" data-value={{type.name}} data-parent="type">
                                        <label class="dropdownItem__label">
                                            <input class="dropdownItem__checkbox" type="checkbox" name="type" value="{{type.name}}" id="T-shirt">
                                            <span class="dropdownItem__content">
                                                <p class="dropdownItem__name">{{type.name}}</p>
                                                <p class="dropdownItem__quantity">{{type.quantity}}</p>
                                            </span>
                                        </label>
                                    </li>
                                
                            {% if loop.last %}

                                </ul>
                                
                            {% endif %}

                        {% endfor %}

                </div>

            </div>

        </div>

        <div class="filter__price filter__number filter">
            <input class="filter__input" type="checkbox" id="price">
            <label class="filter__label" for="price">
                <p class="filter__title">price</p>
            </label>

            <div class="filter__content">
            
                <ul class="number__list">
                    <li>
                        <input class="text__input number__input" type="number" min="0" max="999.99" step="0.1" name="minPrice" value="0" />
                        <span class="number__currency">$</span>
                    </li>
                    <li class="number__item">
                        <p class="number__to">to</p>
                    </li>
                    <li class="number__item">
                        <input class="text__input number__input" type="number" min="0" max="999.99" step="0.1" name="maxPrice" value="999" />
                        <span class="number__currency">$</span>
                    </li>
                </ul>
            </div>
        </div>
    
        <button type="submit" class="black__button filters__button">FILTER</button>

        
    </div>

</form>


<template class="template__selected">
    <li class="selected__item">
        <span class="selected__content">
            <p class="selected__text">T-shirt</p>
            <img class="selected__img" src="assets/img/icon_cross_green.svg" alt="">
        </span>
    </li>
</template>

<template class="template__selectedMore">
    <li class="selected__item">
        <span class="selected__content">
            <p class="selected__text">...</p>
        </span>
    </li>
</template>