<div class="s-section__dark  mateStar">
    <div class="c-footer">
        <div class="c-footer__links l-grid l-grid--2cols@large">
            <div class="c-footer__grid l-grid--2cols">
                <div class="c-footer__info">
                    <ul>
                        <h2>Contact</h2>
                        <li><a href="">04 123 45 67 89</a></li>
                        <li><a href="">info@mate.be</a></li>
                        <li><a href="">Available 24/7</a></li>
                    </ul>
                </div>
                <div class="c-footer__info">
                    <ul class="c-footer__infoSection">
                        <h2>Localisation</h2>
                        <li><a href="">Rue de Les, 2</a></li>
                        <li><a href="">Belgium</a></li>
                        <li><a href="">Brussels 1234</a></li>
                    </ul>
                </div>
                <div class="c-footer__info">
                    <ul class="c-footer__infoSection">
                        <h2>Site</h2>
                        <li><a href="">Home</a></li>
                        <li><a href="">Collections</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
                <div class="c-footer__info">
                    <ul class="c-footer__infoSection">
                        <h2>Socials</h2>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
            <div class="c-footer__logo">
                <img src="assets/img/Mate_logo_whiteOnDark.svg" alt="MateLogo">
            </div>
        </div>
        <div class="c-footer__copyright">
            <p>© Exclusively copyrighted by the wonderful creators of Mate</p>
        </div>
    </div>
</div>