<!--
c-siteheader (block)
    l-container (block)
        c-siteheader__content
            c-siteheader__logo
            c-siteheader__nav
                c-mainnav (block)
                    c-mainnav__item
                    c-mainnav__link
    c-mobilemenu (block)
        mobilemenu__close
        mobilemenu__main
            mobilenav (block)
                mobilenav__item
                    mobilenav__link
            mobilesocial (block)
                mobilesocial__item
                    mobilesocial__link
                        svg
        

-->


<header class="header__mainnav">

    <div class="mainnav">
        <div class="mainnav__logo">
            <a href="index.html"><img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg mainnav__logo"></a>
        </div>
        <div class="mainnav__nav">
            {% for item in nav %}
                {% if loop.first %}<ul class="mainnav__list">{% endif %}
                    
                    <li class="mainnav__item"><a href="{{ item.navUrl }}">{{ item.navLabel }}</a></li>
                    
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
        <div class="mainnav__actions">
            <a href=""><img src="assets/img/icon_profil.svg" alt="" class="mainnav__img fluidimg"></a>
        </div>
    </div>

    <div class="mobilenav"> 
        <div class="mobilenav__visible">
            <div>logo</div>
            <div>profile</div>
            <div>action</div>
            <ul class="mobile__list">
                <li class="mainnav__item"><img src="assets/img/icon_cart.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mainnav__item"><img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg mainnav__logo"></li>
                <li class="mobilenav__open mainnav__item"><img src="assets/img/Burger.svg" alt="" class="mainnav__img fluidimg"></li>
            </ul>
        </div>
        <div class="mobilenav__hidden">
            <ul class="mobile__list hidden__top">
                <li class="mainnav__item"><img src="assets/img/icon_profil.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mainnav__item"><img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg mainnav__logo"></li>
                <li class="mainnav__item mobilenav__close"><img src="assets/img/icon_cross.svg" alt="" class="mainnav__img fluidimg"></li>
            </ul>
            <ul class="hidden__list">
                <li class="hidden__item"><a href="index.html">Home</a></li>
                <li class="hidden__item"><a href="collection.html">Collection</a></li>
                <li class="hidden__item"><a href="about.html">About</a></li>
                <li class="hidden__item"><a href="shop.html">Shop</a></li>
            </ul>
        </div>
    </div>

</header>