<header class="header__mainnav">

    <div class="mainnav">
        <a class="mainnav__logo mainnav__item" href="index.html"><img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg"></a>
        <ul class="mainnav__list">
            <li class="mainnav__item"><a href="index.html">Home</a></li>
            <li class="mainnav__item"><a href="collection.html">Collection</a></li>
            <li class="mainnav__item"><a href="about.html">About</a></li>
            <li class="mainnav__item"><a href="shop.html">Shop</a></li>
            <li class="mainnav__item"><img src="assets/img/icon_profil.svg" alt="" class="mainnav__img fluidimg"></li>
        </ul>
        <p></p>
    </div>
    <div class="mobilenav">
        <div class="mobilenav__visible">
            <ul class="visible__list">
                <li class="mainnav__item"><img src="assets/img/icon_cart.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mainnav__item"><img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mobilenav__open mainnav__item"><img src="assets/img/Burger.svg" alt="" class="mainnav__img fluidimg"></li>
            </ul>
        </div>
        <div class="mobilenav__hidden">
            <ul class="hidden__top">
                <li class="mainnav__item"><img src="assets/img/icon_profil.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mainnav__item"><img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mainnav__item mobilenav__close"><img src="assets/img/icon_cross.svg" alt="" class="mainnav__img fluidimg"></li>
            </ul>
            <ul class="hidden__list">
                <li class="hidden__item"><a href="index.html">Home</a></li>
                <li class="hidden__item"><a href="collection.html">Collection</a></li>
                <li class="hidden__item"><a href="about.html">About</a></li>
                <li class="hidden__item"><a href="shop.html">Shop</a></li>
            </ul>
        </div>
    </div>

</header>