<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<header class="header__mainnav">

    <div class="mainnav">
        <p class="mainnav__logo mainnav__item">
            <img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg">
        </p>
        <ul class="mainnav__list">
            <li class="mainnav__item">Home</li>
            <li class="mainnav__item">Collection</li>
            <li class="mainnav__item">About</li>
            <li class="mainnav__item">Shop</li>
            <li class="mainnav__item">Profil</li>
        </ul>
        <p></p>
    </div>
    <div class="mobilenav">
        <div class="mobilenav__visible">
            <ul class="visible__list">
                <li class="mainnav__item"><img src="assets/img/icon_cart.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mainnav__item"><img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mobilenav__open mainnav__item"><img src="assets/img/Burger.svg" alt="" class="mainnav__img fluidimg"></li>
            </ul>
        </div>
        <div class="mobilenav__hidden">
            <ul class="hidden__top">
                <li class="mainnav__item"><img src="assets/img/icon_profil.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mainnav__item"><img src="assets/img/Mate_logo_whiteOnDark.svg" alt="" class="mainnav__img fluidimg"></li>
                <li class="mainnav__item mobilenav__close"><img src="assets/img/icon_cross.svg" alt="" class="mainnav__img fluidimg"></li>
            </ul>
            <ul class="hidden__list">
                <li class="hidden__item">Home</li>
                <li class="hidden__item">Collection</li>
                <li class="hidden__item">About</li>
                <li class="hidden__item">Shop</li>
            </ul>
        </div>
    </div>

</header>

<script src="app.js"></script>

</body>
</html>