<li class="product__item  smallMateStar"> 
    <div class="product__item__image"> 
        <img class="o-fluidimg" src="assets/img/tshirtExample2.png" alt="product image">
    </div>
    <div class="product__item__details">
        <p class="product__item__name"> T-shirt </p>
        <p class="product__item__price"> $69.99 </p>
    </div>
</li>