{% if p.new %}
<li class="product__item smallMateStar slideUp slideRight"> 
    {% else %}
    <li class="product__item slideUp slideRight">   
        {% endif %}
        <div class="product__item__image"> 
            <div class="product__item__colorDiv">
                {% for color in p.colors %}
                
                    {% include "partials/productCardColors.njk" %}
                
                {% endfor %}
            </div>
            <a href="product.html">
                <img class="o-fluidimg" src='assets/img/{{p.img["front-main"]}}' alt="product image">
            </a>
        </div>
        <div class="product__item__details">
            <p class="product__item__name"> {{p.name}} </p>
            <p class="product__item__price"> {{p.price}} </p>
        </div>
    </li>