<span class="searchbar">
    <input class="searchbar__input" type="search" name="search" placeholder="search" autocomplete="off">
    <button class="searchbar__reset" type="reset" title="Clear the search query." class="sbx-custom__reset">
    </button>
</span>